<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ارسال ایمیل بازیابی با موفقیت انجام شد</title>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css">

</head>
<body>
    {% if isvalid %}
        <div style="text-align: center;">
            <h1>
                گذرواژه جدید اضافه شد
            </h1>
            <p>گذرواژه جدیدتان تنظیم شد اکتون میتواند وارد سایت شوید</p>
            <p><a href="{% url 'login' %}">ورود</a></p>
        </div>
    {% else %}

        <div class="col-12">
            <div class="alert alert-danger">
                    <p class="alert-link-">لینک نامعتبر</p>
            </div>
        </div>
    {% endif %}
</body>
</html>
<!-- http://127.0.0.1:8000/reset/done/ -->